<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    {% block head %}
    <title>
        {% block title %}Libreverse{% endblock %}
    </title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/darkly.css') }}">

    <meta charset="utf-8"/>
    {% endblock %}
</head>

<body class="d-flex flex-column h-100">
    {% block navbar %}
    {% include "partial/navbar.html" %}
    {% endblock %}

    {% block crumbs %}
    {% include "partial/breadcrumbs.html" %}
    {% endblock %}

    {% block main %}
    <main role="main" class="flex-shrink-0">
        <div class="container">
            {% block content %}
            <strong>DEFAULT CONTENT -- REPLACE ME!</strong>
            {% endblock %}
        </div>
    </main>
    {% endblock %}

    {% block footer %}
    {% include "partial/footer.html" %}
    {% endblock %}
</body>

{% block scripts %}
<script src="{{ url_for('static', filename='js/jquery-3.5.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
{% endblock %}

</html>
